extends ./layout/index.pug
block compartircontenido 
    main.container.nt-5 
        .row
            .col.text-center
                img(src="img/aragon.jpg" class="img-fleid")
            .col.texto-creadores
                h1=pagina 
                blockquote A continuación encontrará a los creadores de este sitio web

        .lista-iconos 
            .container.nt-5.py-5.text-center
                .row 
                    .col
                        img(src="img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Adrian Enrique Valdivia Cabañas 
                        p Estudiante de ingeniería en computación de séptimo semestre
                    .col
                        img(src="img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Lizeth Evelyn Hernandez Piedras
                        p Estudiante de ingeniería en computación de séptimo semestre
                    .col
                        img(src="img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Jorge Omar Beltran Virueña
                        p Estudiante de ingeniería en computación de séptimo semestre
    
