extends ./layout/index.pug 
block compartircontenido 
    main.fondo-img
        .container.md-5
            .texto-principal
                .row
                    .col
                        h1.shadow-lg.p-3.mb-5.bg-body.rounded Horarios FES Aragón
                .row.padding-principal
                    .col
                        h2 Ingeniería En Computación 
                .row
                    .col
                        h3 Séptimo Semestre
        
        .container.md-5
            .texto-principal.padding-principal
                .row
                    .col 
                        p ¡Bienvenido a la página principal!
                        p Está página está dedicada para mostrar las 
                        diversas materias impartidas en la Facultad de Estudios Superiores Aragón
                        en la carrera de ingeniería en computación del 7mo semestre
        
        br
        br
        br

        .container
            .row.texto-principal 
                .col 
                    img(src="img/logo.PNG", alt="Logo FES Aragón", height="80%", width="90%")
                