nav.bg-propio.navbar.navbar-expand-lg
    div.container-fluid
        a.navbar-brand.dorado(href="/") FES Aragón
        button.navbar-toggler(type="button" style="background-color:black" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarNav")
            ul.navbar-nav
                li.nav-item
                    a.nav-link.estilo-links(aria-current="page" href="/creadores") Creadores
                li.nav-item
                    a.nav-link.estilo-links(href="/materias") Materias
                li.nav-item
                    a.nav-link.estilo-links(href="/comentarios") Comentarios
                li.nav-item
                    a.nav-link.estilo-links(href="/listar_comentarios") Lista de comentarios
        span.navbar-text.dorado Universidad Nacional Autónoma de México

